<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>916073348632-prue8kl5kftppakroe86m1av05juq40m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.916073348632-prue8kl5kftppakroe86m1av05juq40m</string>
	<key>API_KEY</key>
	<string>AIzaSyBQvIZCjorFMrahsOEQ2FZ8EPdH6veVzoA</string>
	<key>GCM_SENDER_ID</key>
	<string>916073348632</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pickbuzz.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>pickbuzz-ad94c</string>
	<key>STORAGE_BUCKET</key>
	<string>pickbuzz-ad94c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:916073348632:ios:8c03af6ac0dac81922cd6d</string>
</dict>
</plist>